/* *{
    
}



body {
    background-color: rgb(90, 90, 90);
}

*{
    font-family: 'Arial Narrow Bold', 'sans-serif';
}

div {
   
    width: 500px;
    height: 800px;
    margin: 22px;
    padding: 23px;
    border: 3px solid rgb(60, 60, 60);
    box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -webkit-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -moz-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
}

h4.vurgu{
    color: aliceblue;
    text-transform: uppercase;
    word-spacing: 2px;
}
a {
    color: aliceblue;
    text-decoration: underline 2px red;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    
}

p.last{
    color: brown;
    text-align: center;
    font-family: 'Impact';
    text-shadow: 1px 2px 9px white;
    text-transform: capitalize;
}

img.resim {
    border: 2px dashed black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width="40px" height="90px"
    box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -webkit-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -moz-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    height: 100px;
} */
/* 
img.resim2{
    border: 2px dashed black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width="120px" height="70px"
    box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -webkit-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    -moz-box-shadow: -3px 1px 23px -3px rgba(255,0,0,0.49);
    height: 100px; 

}
*/

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'anta';

}

body{
    background-color: rgb(195, 201, 120);
}

.box {
    text-align: center;
    border: 8px black;
    width: 500px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);

}

a{
    color: aliceblue;
    text-shadow: 0 0 20px red;
    text-decoration: underline;
}

img{
    margin: 13px 0px 17px;
    border: 2px dashed black;
    box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(227, 28, 28, 0.75);
}

#first {
    font-size: large;
    color:aliceblue ;
    word-spacing: 7px;
    text-transform: uppercase;
    text-decoration: underline;
}

#siz {
    font-size: medium;
    color: brown;
    font-family: 'Impact';

}









